<style>
  html, body { height: 100% }

  body {
    background-color: <%= Front.config[:background_color] %>;
    color: <%= Front.config[:text_color] %>;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
</style>

<h1>Offline</h1>
<p>Check your internet connection.</p>
